*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  background: #fafafa;
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
  margin-right: 350px; 
}

.producto {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.producto:hover {
  transform: scale(1.03);
}


.producto img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}


.btnAgregar {
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btnAgregar:hover {
  background: #333;
}
